<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Account</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel=" stylesheet" href = "../Create account page/styles.css">

    <link rel = "icon" type = "image/jpg" href = "../Common files/Icon.png">
</head>
<body>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-0 border-bottom" id = "navbar"> 
        <div class="col-md-3 mb-2 mb-md-0">
          <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
              <img id = "logo" src = "../../Common files/Icon.png">
          </a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/Home page" class="nav-link px-2" title = "Home">Home</a></li>
          <li><a href="/Services" class="nav-link px-2" title = "Services">Services</a></li>
          <li><a href="/Pricing" class="nav-link px-2" title = "Pricing">Pricing</a></li>
          <li><a href="/" class="nav-link px-2" title = "About Us">About Us</a></li>
        </ul>
  
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" onsubmit="return searchFor()">
          <input id = "search" type="search" class="form-control" placeholder="Search..." aria-label="Search" list = "search-suggestions">
          <datalist id="search-suggestions">
            <option value="Services">
            <option value="Pricing">
          </datalist>
        </form>
        
  
        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-danger me-2" onclick = "signOut()">Sign Out</button>
        </div>
      </header>
    <div class = "contain">
        <h1>Your account</h1>
        <p id = "desc">Modify your account</p><br/>
          <form action = "/editProfile" method = "post" class = "row g-3 form-control needs-validation" novalidate onsubmit="return formValidity()">
              <div class="row g-3">
                  <div class = "col-md-6">
                      <label for = "firstName" class = "form-label">First name</label>
                      <span class="text-danger">*</span>
                      <input id = "firstName" class = "form-control box" type = "text" value = "<%= profile.FirstName%>" name = "firstName" required>
                  </div>
                  <div class="col-md-6">
                      <label for = "lastName" class = "form-label">Last name</label>
                      <span class="text-danger">*</span>
                      <input id = "lastName" class = "form-control box" type = "text" value = "<%= profile.LastName%>" name = "lastName" required>
                  </div>
              </div> 
              <div class="row g-3">
                  <div class = "col-md-12">
                      <label for = "username">Username</label>
                      <span class="text-danger">*</span>
                      <input id = "username" class = "form-control box" type = "text" value = "<%= profile.Username%>" name = "username" required readonly title="Unchangeable username">
                  </div>
              </div> 
              <div class="row g-3">
                  <div class = "col-md-12">
                      <label for = "email">Email</label>
                      <span class="text-danger">*</span>
                      <input id = "email" class = "form-control box" type = "email" placeholder="ex: alex123@mail.com" pattern = "[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" value = "<%= profile.Email%>" name = "email" required>
                      <div class="invalid-feedback">
                          Please enter a valid email address.
                        </div>
                  </div>
              </div> 
               <div class="row g-3">
                  <div class = "col-md-12">
                      <label for = "address">Address</label>
                      <span class="text-danger">*</span>
                      <input id = "address" class = "form-control box" type = "text" value = "<%= profile.Address%>" name = "address" required>
                  </div>
              </div> 
              <div class="row g-3">
                  <div class = "col-md-6">
                      <label for = "city" class = "form-label">City</label>
                      <span class="text-danger">*</span>
                      <input id = "city" class = "form-control box" type = "text" value = "<%= profile.City%>" name = "city" required>
                  </div>
                  <div class="col-md-6">
                      <label for = "zip" class = "form-label">Zip code</label>
                      <span class="text-danger">*</span>
                      <input id = "zip" class = "form-control box" type = "text" value = "<%= profile.Zip%>" name = "zip" required>
                  </div>
              </div>         
              <div class="row g-3">
                   <div class = "col-md-12">
                      <label for = "phone">Phone number</label>
                      <span class="text-danger">*</span>
                      <input id = "phone" class = "form-control box" type = "text" placeholder="ex: 123-456-678" pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}" value = "<%= profile.Phone%>" name = "phone" required>
                      <div class="invalid-feedback">
                        Please respect the format 123-456-678
                    </div>
                  </div>
              </div>  
              <div class="row g-3">
                  <div class = "col-md-12">
                      <label for = "password">Change Password (Maximum 20 characters)</label>
                      <span class="text-danger">*</span>
                      <input class = "form-control box" id = "password" type = "password" minlength="8" maxlength="20" placeholder="Password" value = "<%= profile.Password%>" required pattern="^(?!.*\s).+$">
                      <small><input class = "password-toggle" type="checkbox" onclick="showPassword()"> Show Password</small>
                  </div>
              </div> 
              <div class="row g-3">
                  <div class = "col-md-12">
                      <label for = "passwordCheck">Confirm Password</label>
                      <span class="text-danger">*</span>
                      <input class = "form-control" id = "passwordCheck" type = "password" minlength="8" maxlength="20" placeholder="Confirm password" value = "<%= profile.Password%>" name = "password" required>
                      <small><input class = "password-toggle" type="checkbox" onclick="showPassword2()"> Show Password
                      <p id = "check" class="text-danger"></p>
                  </small>
                  </div>
              </div> 
                 
              <div id = "buttons" class = "row g-3">
                  <input class = "btn btn-secondary" type = "submit" value = "Save">
              </div>
          </form>
          <br/>
         
            <h4>Delete Account</h4>
            <p class ="text-danger">Deleting your account is an irreversible action and all data will be lost!</p>
            <button class = "btn btn-outline-danger me-2" onclick = "deleteConfirmation()">Delete account</button>
          
      </div>
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-0 border-top">
        <<p class="col-md-4 mb-0 text-body-secondary">© 2024 <a href = "mailto:yourbusinesscompany001@gmail.com" class="text-body-secondary" style = "text-decoration: none;">yourbusinesscompany001@gmail.com</a></p>
      
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="/Services" class="nav-link px-2 text-body-secondary">Services</a></li>
            <li class="nav-item"><a href="/Pricing" class="nav-link px-2 text-body-secondary">Pricing</a></li>
            <li class="nav-item"><a href="/#about-us" class="nav-link px-2 text-body-secondary">About Us</a></li>
          
        </ul>
      </footer>

      <script src = "../Client dashboard/profile page/scripts.js"></script>
      <script src = "../Create account page/scripts.js"></script>
      <script src = "../Common files/common_scripts.js"></script>

</body>
</html>

