<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Services</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel=" stylesheet" href = "../Admin files/Edit Services/styles.css">

    <link rel = "icon" type = "image/jpg" href = "../Common files/Icon.png">
</head>
<body>
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-0 border-bottom" id = "navbar"> 
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img id = "logo" src ="../Common files/Icon.png" alt="company logo">
        </a>
      </div>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2" title = "Home">Home</a></li>
        <li><a href="/Services" class="nav-link px-2" title = "Services">Services</a></li>
        <li><a href="/Pricing" class="nav-link px-2" title = "Pricing">Pricing</a></li>
      </ul>
      
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" onsubmit="return searchFor()">
        <input id = "search" type="search" class="form-control" placeholder="Search..." aria-label="Search" list = "search-suggestions">
        <datalist id="search-suggestions">
          <option value="Services">
          <option value="Pricing">
        </datalist>
      </form>
      <div class="col-md-3 text-end">
        <a href = "../Manager dashboard/manager.html"><button type="button" class="btn btn-outline-primary me-2">Dashboard</button></a> 
        <button type="button" class="btn btn-outline-danger me-2" onclick = "signOut2()">Sign Out</button> 
      </div>
    </header>

    <div class = "contain">
      <br/><br/> 
      <h1>Edit Services</h1>
      <p id = "desc">Add, edit or remove your services here!</p><br/>

      <div class="d-flex justify-content-center bg-light p-3 mb-4 border rounded" id = "linkbar">
        <a href="#form1" class = "nav-link navlink mx-3"><h6>Add a Service</h6></a>
        <a href="#form2" class = "nav-link navlink mx-3"><h6>Modify a Current Service</h6></a>
        <a href="#form3" class = "nav-link navlink mx-3"><h6>Modify Service Pricing</h6></a>
        <a href="#form4" class = "nav-link navlink mx-3"><h6>Delete an Existing Service</h6></a>
      </div>

        <form action = "/addService" method = "post" class = "row g-3 form-control" id = "form1" onsubmit="addConfirmation(event)">
            <h4>Add a Service</h4>
            <div class="row g-3">
              <div class="col-md-6">
                <label for="addService" class="form-label">Service Name</label>
                <input type="text" class="form-control" id="addService" placeholder="Major Cleaning Service" name = "serviceName">
              </div>
          </div>
            <div class="mb-3">
              <label for="serviceDescription" class="form-label">Service Description</label>
              <textarea class="form-control" id="serviceDescription" rows="3" placeholder="Deep cleaning of all rooms..." name = "serviceDescription"></textarea>
            </div> 
            <div class="mb-3">
              <label for="servicePrice" class="form-label">Service Price ($/hr)</label>
              <input type="number" class="form-control" id="servicePrice" placeholder="Enter new price" required min="1" name = "servicePrice0">
            </div>
          
            <div class="input-group mb-2">
              <span class="input-group-text">Point 1</span>
              <input type="text" class="form-control" id="descriptionPoint1" placeholder="Light dusting and vacuuming" name = "point01">
            </div>
            
            <div class="input-group mb-2">
              <span class="input-group-text">Point 2</span>
              <input type="text" class="form-control" id="descriptionPoint2" placeholder="Basic kitchen and bathroom cleaning" name = "point02">
            </div>
            
            <div class="input-group mb-2">
              <span class="input-group-text">Point 3</span>
              <input type="text" class="form-control" id="descriptionPoint3" placeholder="Surface sanitizing" name = "point03">
            </div> 
          <div class = "row g-3 buttons">
            <input class = "btn btn-secondary" type = "submit" value = "Save & Continue">
          </div>
      </form>
    </br></br>
      <form action = "/modifyService" method = "post" class = "row g-3 form-control" id = "form2" onsubmit="modConfirmation(event)">
          <h4>Modify a Current Service</h4>

          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="basicDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Service
            </button>
            <ul class="dropdown-menu" aria-labelledby="basicDropdown">
                <% services.forEach(function(service) { %>
                  <li><a class="dropdown-item" onclick="selectOption('<%= service.ServiceName %>')"><%= service.ServiceName %></a></li>
                <% }); %>
            </ul>
        </div>
        <input type="hidden" id="selectedService" name="selectedService" value = "">
          <div class="mb-3">
            <label for="serviceDescription" class="form-label">Service Description</label>
            <textarea class="form-control" id="serviceDescription" rows="3" placeholder="Power washing surfaces..." name = "serviceDescription2"></textarea>
          </div> 
          <div class = "row g-3 buttons">
            <input class = "btn btn-secondary" type = "submit" value = "Save & Continue">
        </div>
        </form>
      </br></br>

        <form action="/modifyServicePricing" method="POST" class="row g-3 form-control" id = "form3" onsubmit="modConfirmation(event)">
          <h4>Modify Service Pricing</h4>
          <div class="dropdown mb-3">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="basicDropdown3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Service
            </button>
            <ul class="dropdown-menu" aria-labelledby="serviceDropdown">
                <% services.forEach(function(service) { %>
                  <li><a class="dropdown-item" onclick="selectOption3('<%= service.ServiceName %>')"><%= service.ServiceName %></a></li>
                <% }); %>
            </ul>
          </div>
          
          <input type="hidden" id="selectedService3" name="selectedService3" value = "">

          <div class="mb-3">
            <label for="servicePrice" class="form-label">Service Price ($/hr)</label>
            <input type="number" class="form-control" id="servicePrice" placeholder="Enter new price" required min="1" name = "servicePrice">
          </div>
        
          <div class="input-group mb-2">
            <span class="input-group-text">Point 1</span>
            <input type="text" class="form-control" id="descriptionPoint1" placeholder="Light dusting and vacuuming" name = "point1">
          </div>
          
          <div class="input-group mb-2">
            <span class="input-group-text">Point 2</span>
            <input type="text" class="form-control" id="descriptionPoint2" placeholder="Basic kitchen and bathroom cleaning" name = "point2">
          </div>
          
          <div class="input-group mb-2">
            <span class="input-group-text">Point 3</span>
            <input type="text" class="form-control" id="descriptionPoint3" placeholder="Surface sanitizing" name = "point3">
          </div>

          <div class="row g-3 buttons">
            <input class="btn btn-secondary" type="submit" value="Save & Continue">
          </div>
        </form>
      </br></br>
      <form action = "/deleteService" method = "post" class = "row g-3 form-control" id = "form4" onsubmit="delConfirmation(event)">
          <h4>Delete an Existing Service</h4>
          <p id = "delete">Deleting any service is an irreversible action.</p>
          <div class="row g-3">
            <div class="dropdown">
              <button class="btn btn-outline-danger dropdown-toggle" type="button" id="basicDropdown2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Select Service
              </button>
              <ul class="dropdown-menu" aria-labelledby="basicDropdown">
                <% services.forEach(function(service) { %>
                  <li><a class="dropdown-item" onclick="selectOption2('<%= service.ServiceName %>')"><%= service.ServiceName %></a></li>
                <% }); %>
              </ul>
            </div>
            <input type="hidden" id="selectedService2" name="selectedService2" value = "">
           <div class = "row g-3 buttons">
            <input class = "btn btn-outline-danger me-2" type = "submit" value = "Delete Service & Continue">
          </div>
         </div>
        </br></br>
      </form>
    </div>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-0 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">© 2024 Cleaning Services</p>
      
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="/Services" class="nav-link px-2 text-body-secondary">Services</a></li>
          <li class="nav-item"><a href="/Pricing" class="nav-link px-2 text-body-secondary">Pricing</a></li>
          <li class="nav-item"><a href="/#about-us" class="nav-link px-2 text-body-secondary">About Us</a></li>
        </ul>
      </footer>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src = "../Common files/common_scripts.js"></script>   
      <script src = "../Admin files/Edit Services/scripts.js"></script>
</body>
</html>